In [3]:
import pandas as pd
dataset=pd.read_excel('/home/marc/Documents/Database OCM/OrangeCM_3G.xlsx')

In [4]:
dataset[(dataset['RNCID'] == 307) & (dataset['CellID'] == 30345)]

,Site Code,Longitude,Latitude,Hardware,Town,Site Name,Type,RNCID,RNC Name,WBTS Name,...,RAC,URA ID,PSC,Sector Name.1,DL UARFCN,Azimuth,E-tilt,M-tilt,Antenna Height,Program
9198,LIT_106,9.736042,4.091278,Nokia,Douala,Denver,Macro,307,mcRNC_MakepePlaTech1,Denver_U_LIT_106,...,113,122,235.0,NaN,10712,160,9,0,19,Mosaic swap Douala

In [11]:
head.dtypes

Site Code          object
Longitude         float64
Latitude          float64
Hardware           object
Town               object
Site Name          object
Type               object
RNC ID              int64
RNC Name           object
WBTS Name          object
WBTS ID             int64
Cell Name          object
Cell ID           float64
LCRID             float64
LCR Suffix          int64
Sector Name        object
Sector ID           int64
LAC                 int64
RAC                 int64
URA ID              int64
PSC               float64
Sector Name.1      object
DL UARFCN           int64
Azimuth            object
E-tilt             object
M-tilt             object
Antenna Height     object
Program            object
dtype: object